.letter
  font-style italic
  padding 2em 1em 2em 3.5em
  background-color white
  border-radius 10px

.gifts
  padding 1.2em
  background-color white
  border-radius 10px
  margin-bottom 1em

textarea
  height 10em


.btn.copyBtn
  font-size 0.7em
  padding 0 3px
  background-color #dddddd
  margin-left 1em
  color #222222
  margin-bottom 0.5em

.gift
  padding-bottom 10px
  margin-bottom 20px
  margin-top 15px

.gift p
  margin-bottom 0
  padding 0

.gift span
  color #333333
  font-size 1.2em
  // padding-left 0.5em


.gift p:first-child 
  margin-bottom 1em

.gift p.description
  background-color #eeeeee
  border-radius 10px
  padding 1.3em 1em 

.gift p.label
  margin 0
  padding 0
  font-size 0.8em