/* You can add global styles to this file, and also import other style files */

html
  min-height: 100%;

body
  background url(assets/santa_footer.jpg)
  background-position bottom center
  background-repeat no-repeat
  padding-bottom 170px
  min-height 100%

h1 
  color #369
  font-family 'Open Sans', sans-serif
  font-size 250%

h2, h3 
  color #444
  font-family 'Open Sans', sans-serif
  font-weight lighter

body, input[type="text"], button 
  color #888
  font-family Cambria, Georgia

*, button 
  font-family 'Open Sans', sans-serif

.center 
  text-align center

a
  cursor: pointer

h5.sectionName
  background-color #dddddd
  padding 5px 0
  margin-bottom 10px
  width 100%
  text-align center
  font-size 0.85em
  font-weight 100


.jumbotron
  background-color rgba(0,0,0,0) !important


